
  /* .btn {

  border-radius: 20px;
  border: 2px solid firebrick;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  .btn:hover {
    background-color: grey;
    box-shadow: none;
  }
  .btn:active{
    box-shadow: 2px 2px 5px #fc894d;
  } */
.primary{
  background-color: blue;
  border-radius: 15px;
  padding: 10px;
}
.secondary{
  background-color: grey;
  border-radius: 15px;
  padding: 10px;
}
.success{
  background-color: green;
  border-radius: 15px;
  padding: 10px;
}
.danger{
  background-color: red;
  border-radius: 15px;
  padding: 10px;
}
.warning{
  background-color: yellow;
  border-radius: 15px;
  padding: 10px;
}
.info{
  background-color: teal;
  border-radius: 15px;
  padding: 10px;
}
.primary2{
  border: 1px solid blue;
  border-radius: 15px;
  padding: 10px;
}
.secondary2{
  border: 1px solid grey;
  border-radius: 15px;
  padding: 10px;
}
.success2{
  border: 1px solid green;
  border-radius: 15px;
  padding: 10px;
}
.danger2{
  border:1px solid red;
  border-radius: 15px;
  padding: 10px;
}
.warning2{
  border:1px solid yellow;
  border-radius: 15px;
  padding: 10px;
}
.info2{
  border:1px solid teal;
  border-radius: 15px;
  padding: 10px;
}
.header{
  display: flex;
  justify-content: space-between;
}
.inbox{
  display: flex;
  justify-content: space-between;
}
